<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiaose.competitionmanagementsystem.mapper.BankTableMapper">
  <resultMap id="BaseResultMap" type="com.qiaose.competitionmanagementsystem.entity.BankTable">
    <!--@mbg.generated-->
    <!--@Table bank_table-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="belongs_bank" jdbcType="VARCHAR" property="belongsBank" />
    <result column="bank_id" jdbcType="INTEGER" property="bankId" />
    <result column="open_bank" jdbcType="VARCHAR" property="openBank" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, belongs_bank, bank_id, open_bank, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from bank_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from bank_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.qiaose.competitionmanagementsystem.entity.BankTable" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bank_table (belongs_bank, bank_id, open_bank, 
      create_time, update_time)
    values (#{belongsBank,jdbcType=VARCHAR}, #{bankId,jdbcType=INTEGER}, #{openBank,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.qiaose.competitionmanagementsystem.entity.BankTable" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into bank_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="belongsBank != null">
        belongs_bank,
      </if>
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="openBank != null">
        open_bank,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="belongsBank != null">
        #{belongsBank,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=INTEGER},
      </if>
      <if test="openBank != null">
        #{openBank,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiaose.competitionmanagementsystem.entity.BankTable">
    <!--@mbg.generated-->
    update bank_table
    <set>
      <if test="belongsBank != null">
        belongs_bank = #{belongsBank,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        bank_id = #{bankId,jdbcType=INTEGER},
      </if>
      <if test="openBank != null">
        open_bank = #{openBank,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiaose.competitionmanagementsystem.entity.BankTable">
    <!--@mbg.generated-->
    update bank_table
    set belongs_bank = #{belongsBank,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=INTEGER},
      open_bank = #{openBank,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>