<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiaose.competitionmanagementsystem.mapper.CompetitionAttachMapper">
  <resultMap id="BaseResultMap" type="com.qiaose.competitionmanagementsystem.entity.CompetitionAttach">
    <!--@mbg.generated-->
    <!--@Table competition_attach-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="fname" jdbcType="VARCHAR" property="fname" />
    <result column="ftype" jdbcType="VARCHAR" property="ftype" />
    <result column="fkey" jdbcType="VARCHAR" property="fkey" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="created" jdbcType="INTEGER" property="created" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, fname, ftype, fkey, user_id, created
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from competition_attach
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryUserid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from competition_attach
    where user_id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from competition_attach
    where id = #{id,jdbcType=INTEGER}
  </delete>





  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.qiaose.competitionmanagementsystem.entity.CompetitionAttach" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into competition_attach (fname, ftype, fkey, 
      user_id, created)
    values (#{fname,jdbcType=VARCHAR}, #{ftype,jdbcType=VARCHAR}, #{fkey,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{created,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.qiaose.competitionmanagementsystem.entity.CompetitionAttach" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into competition_attach
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fname != null">
        fname,
      </if>
      <if test="ftype != null">
        ftype,
      </if>
      <if test="fkey != null">
        fkey,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="created != null">
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fname != null">
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="ftype != null">
        #{ftype,jdbcType=VARCHAR},
      </if>
      <if test="fkey != null">
        #{fkey,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="created != null">
        #{created,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiaose.competitionmanagementsystem.entity.CompetitionAttach">
    <!--@mbg.generated-->
    update competition_attach
    <set>
      <if test="fname != null">
        fname = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="ftype != null">
        ftype = #{ftype,jdbcType=VARCHAR},
      </if>
      <if test="fkey != null">
        fkey = #{fkey,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiaose.competitionmanagementsystem.entity.CompetitionAttach">
    <!--@mbg.generated-->
    update competition_attach
    set fname = #{fname,jdbcType=VARCHAR},
      ftype = #{ftype,jdbcType=VARCHAR},
      fkey = #{fkey,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      created = #{created,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>