<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiaose.competitionmanagementsystem.mapper.StudentInfoMapper">
  <resultMap id="BaseResultMap" type="com.qiaose.competitionmanagementsystem.entity.StudentInfo">
    <!--@mbg.generated-->
    <!--@Table student_info-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="stu_id" jdbcType="VARCHAR" property="stuId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="id_type" jdbcType="VARCHAR" property="idType" />
    <result column="student_status" jdbcType="VARCHAR" property="studentStatus" />
    <result column="counselor" jdbcType="VARCHAR" property="counselor" />
    <result column="nationality" jdbcType="VARCHAR" property="nationality" />
    <result column="native_place" jdbcType="VARCHAR" property="nativePlace" />
    <result column="national" jdbcType="VARCHAR" property="national" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="bank_id" jdbcType="INTEGER" property="bankId" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, stu_id, `name`, id_number, id_type, student_status, counselor, nationality, native_place, 
    `national`, dept_id, telephone, email, qq, wechat, bank_id, class_id, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from student_info
    where id = #{id,jdbcType=INTEGER}
  </select>


  <select id="selectByDeptId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from student_info
    where dept_id = #{deptId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from student_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.qiaose.competitionmanagementsystem.entity.StudentInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into student_info (stu_id, `name`, id_number, 
      id_type, student_status, counselor, 
      nationality, native_place, `national`, 
      dept_id, telephone, email, 
      qq, wechat, bank_id, 
      class_id, create_time, update_time
      )
    values (#{stuId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, 
      #{idType,jdbcType=VARCHAR}, #{studentStatus,jdbcType=VARCHAR}, #{counselor,jdbcType=VARCHAR}, 
      #{nationality,jdbcType=VARCHAR}, #{nativePlace,jdbcType=VARCHAR}, #{national,jdbcType=VARCHAR}, 
      #{deptId,jdbcType=INTEGER}, #{telephone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{bankId,jdbcType=INTEGER}, 
      #{classId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.qiaose.competitionmanagementsystem.entity.StudentInfo" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into student_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stuId != null">
        stu_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="idType != null">
        id_type,
      </if>
      <if test="studentStatus != null">
        student_status,
      </if>
      <if test="counselor != null">
        counselor,
      </if>
      <if test="nationality != null">
        nationality,
      </if>
      <if test="nativePlace != null">
        native_place,
      </if>
      <if test="national != null">
        `national`,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="telephone != null">
        telephone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="classId != null">
        class_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stuId != null">
        #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        #{idType,jdbcType=VARCHAR},
      </if>
      <if test="studentStatus != null">
        #{studentStatus,jdbcType=VARCHAR},
      </if>
      <if test="counselor != null">
        #{counselor,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null">
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="national != null">
        #{national,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiaose.competitionmanagementsystem.entity.StudentInfo">
    <!--@mbg.generated-->
    update student_info
    <set>
      <if test="stuId != null">
        stu_id = #{stuId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="idType != null">
        id_type = #{idType,jdbcType=VARCHAR},
      </if>
      <if test="studentStatus != null">
        student_status = #{studentStatus,jdbcType=VARCHAR},
      </if>
      <if test="counselor != null">
        counselor = #{counselor,jdbcType=VARCHAR},
      </if>
      <if test="nationality != null">
        nationality = #{nationality,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null">
        native_place = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="national != null">
        `national` = #{national,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="telephone != null">
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        bank_id = #{bankId,jdbcType=INTEGER},
      </if>
      <if test="classId != null">
        class_id = #{classId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiaose.competitionmanagementsystem.entity.StudentInfo">
    <!--@mbg.generated-->
    update student_info
    set stu_id = #{stuId,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      id_type = #{idType,jdbcType=VARCHAR},
      student_status = #{studentStatus,jdbcType=VARCHAR},
      counselor = #{counselor,jdbcType=VARCHAR},
      nationality = #{nationality,jdbcType=VARCHAR},
      native_place = #{nativePlace,jdbcType=VARCHAR},
      `national` = #{national,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      bank_id = #{bankId,jdbcType=INTEGER},
      class_id = #{classId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>