logging:
    config: classpath:logback-dev.xml
    level:
        com:
            qiaose:
                competitionmanagementsystem:
                    mapper: debug
mybatis:
    mapper-locations: classpath:mapper/*.xml
    type-aliases-package: com.qiaose.competitionmanagementsystem.mapper
pagehelper:
    helper-dialect: mysql
    params: count=countSql
    reasonable: true
    support-methods-arguments: true


server:
    port: 8085
spring:
    datasource:
        driverClassName: com.mysql.cj.jdbc.Driver
        initialSize: 20
        maxActive: 100
        minIdle: 10
        password: root
        url: jdbc:mysql://182.254.226.174/competition_msdb?useSSL=false&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&autoReconnect=true
        username: root
    mvc:
        static-path-pattern: /**
    redis:
        database: 0
        host: 182.254.226.174
        jedis:
            pool:
                max-active: 8
                max-idle: 8
                max-wait: -1
                min-idle: 0
        password: rFmZmcXd%npZ8^0ts
        port: 6379
        timeout: 300
    servlet:
        multipart:
            enabled: true
            max-file-size: 50MB
            max-request-size: 100MB



