tax: 0.2

logging:
    level:
        com:
            qiaose:
                competitionmanagementsystem:
                    mapper: debug
    config:
        classpath: logback-dev.xml


mybatis:
    mapper-locations: classpath:mapper/*.xml
    type-aliases-package: com.qiaose.competitionmanagementsystem.mapper
pagehelper:
    helper-dialect: mysql
    params: count=countSql
    reasonable: true
    support-methods-arguments: true


server:
    port: 8085
spring:
    datasource:
        driverClassName: com.mysql.cj.jdbc.Driver
        password: HYy4Y0mTy8aD4enTGsBM
        url: jdbc:mysql://182.254.226.174/competition_msdb?useSSL=false&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&autoReconnect=true
        username: root
        hikari:
            connection-timeout: 6000000
            max-lifetime: 55000
    mvc:
        static-path-pattern: /**
    redis:
        database: 0
        host: 182.254.226.174
        jedis:
            pool:
                max-active: 8
                max-idle: 8
                max-wait: -1
                min-idle: 0
        password: 7@4zd^3abOks0IBfBHQBieJUWeqVQv&F
        port: 6379
        timeout: 5000
    servlet:
        multipart:
            enabled: true
            max-file-size: 500MB
            max-request-size: 1000MB

    mail:
        username: qiaosefennv@163.com
        password: SMYJQCSGYYGNWWFX
        host: smtp.163.com
        properties:
            mail:
                smtp:
                    ssl:
                        enable: true







